@model ASP_PROJECT.Models.POCO.Dish

<tr>
    <td>@Model.Name</td>
    <td>@Model.Description</td>
    <td>@Model.ConvertDishType()</td>
    <td>@Model.ConvertTypeService()</td>
    <td>@Model.Price €</td>
    <td>
        <a asp-controller="Order" asp-action="AddCartTest2" asp-route-DishId="@Model.Id">Ajouter au panier</a>
    </td>
</tr>
