@model ASP_PROJECT.Models.POCO.Order
@if ((string)TempData["message"] == "vide") {
    <p>Votre panier est vide.</p>
}
<h1>Panier</h1>
<h3>Plats commandés</h3>
<table class="table">
    <tr>
        <th>Nom</th>
        <th>Prix</th>
    </tr>

    @foreach (var item in Model.listDishOrdered) {
        <tr>
            <td>@item.Name</td>
            <td>@item.Price €</td>
            <td><a asp-controller="Order" asp-action="DeleteDishOrdered" asp-route-dishId="@item.Id">Supprimer</a></td>
            </tr>
    }
</table>
    <h3>Menus comandés</h3>

<table class="table">
    <tr>
        <th>Nom</th>
        <th>Prix</th>
    </tr>
    @foreach (var item in Model.listMenuOrdered) {
        <tr>
            <td>@item.Name</td>
            <td>@item.Price €</td>
            <td><a asp-controller="Order" asp-action="DeleteMenuOrdered" asp-route-menuId="@item.Id">Supprimer</a></td>
        </tr>
        }
</table>

<h3>Prix total : @Model.TotalPrice </h3>

<p><a asp-controller="Order" asp-action="ValidateOrder" asp-route-order="@Model">Valider la commande</a></p>

<p><a asp-controller="Restaurant" asp-action="ConsultAll" asp-route-restaurantId="@Model.Restaurant.Id">Retour</a></p>

<!-- je dois passer l'objet pose pb-->
<p><a asp-controller="Order" asp-action="DeleteCart" asp-route-order="@Model">Vider le panier</a></p>