@model ASP_PROJECT.Models.POCO.Restaurant
@using Microsoft.AspNetCore.Http

<tr>
    <td>@Model.Name</td>
    <td>@Model.ConvertRestaurantType()</td>
    <td>@Model.Description</td>

    <td>
        @*<a asp-controller="Menu" asp-action="ConsultMenus" asp-route-RestoId="@Model.Id">Voir</a>*@
        <a class="btn btn-outline-primary" asp-action="ConsultAll" asp-route-restaurantId="@Model.Id">Carte</a>
        @if (Context.Session.GetString("restorerConnected") == "true")
        {
            <a class="btn btn-outline-primary" asp-controller="Order" asp-action="ConsultRestaurantOrders" asp-route-restoId="@Model.Id">Commandes</a>

        }
    </td>
</tr>