@model ASP_PROJECT.Models.POCO.Dish
@using Microsoft.AspNetCore.Http
<tr>
    <td>@Model.Name</td>
    <td>@Model.ConvertTypeService()</td>
    <td>@Model.ConvertDishType()</td>
    <td>@Model.Description</td>
    <td>@Model.Price €</td>
    @if (Context.Session.GetString("customerConnected") == "true")
    {
        <td><a asp-controller="Order" asp-action="AddDishToCart" asp-route-dishId="@Model.Id">Ajouter au panier</a></td>
    }
    @if (Context.Session.GetString("restorerConnected") == "true")
    {
        <td>
            <a asp-controller="Menu" asp-action="ModifyDishById" asp-route-DishId="@Model.Id">Modifier</a>
        </td>
        <td>
            <a asp-controller="Menu" asp-action="DeleteDishById" asp-route-DishId="@Model.Id">Supprimer</a>
        </td>
    }
</tr>