@model ASP_PROJECT.Models.POCO.Dish

<tr>
    <td>@Model.Name</td>
    <td>@Model.ConvertTypeService()</td>
    <td>@Model.ConvertDishType()</td>
    <td>@Model.Description</td>
    <td>@Model.Price</td>
</tr>