@model ASP_PROJECT.Models.POCO.Dish

<tr>
    <td>@Model.Name</td>
    <td>@Model.Description</td>
    <td>@Model.ConvertDishType()</td>
    <td>@Model.ConvertTypeService()</td>
    <td>@Model.Price €</td>
    @*<a asp-route-ParametreMethodeController="@Model.Id"></a>*@
    <td>
        <a asp-controller="Menu" asp-action="ModifyDishById" asp-route-DishId="@Model.Id">Modifier</a>
    </td>
    <td>
        <a asp-controller="Menu" asp-action="DeleteDishById" asp-route-DishId="@Model.Id">Supprimer</a>
    </td>
</tr>

