@model ASP_PROJECT.Models.POCO.Restorer

<div>
    <table class="table">
        <tr>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Email</th>
            <th>Genre</th>
            <th>Adresse</th>
            <th>Ville</th>
            <th>Pays</th>
            <th>Code Postal</th>
            <th>Téléphone</th>
        </tr>
        <tr>
            <td>
                <p>@Model.Firstname</p>
            </td>
            <td>
                <p>@Model.Lastname</p>
            </td>
            <td>
                <p>@Model.Email</p>
            </td>
            <td>
                <p>@Model.Gender.ToString()</p>
            </td>
            <td>
                <p>@Model.Address</p>
            </td>
            <td>
                <p>@Model.City</p>
            </td>
            <td>
                <p>@Model.Country</p>
            </td>
            <td>
                <p>@Model.Pc</p>
            </td>
            <td>
                <p>@Model.Tel</p>
            </td>
            <td>
                <button><a asp-controller="Account" asp-action="ModifyRestorerInformations" asp-route-RestorerEmail="@Model.Email">Modifier</a></button>
            </td>
        </tr>
    </table>
    <button><a asp-controller="Account" asp-action="Index">Retour</a></button>
    @if (!String.IsNullOrEmpty((string)TempData["AccountModifications"]))
    {
        if ((string)TempData["AccountModifications"] == "success")
        {
            <div class="m-2 alert-success">
                <p>Modification effectuée avec succès</p>
            </div>
        }
    }
    <!--Permet de consulter les restaurant du restorateur-->
    <a asp-controller="Restaurant" asp-action="ConsultRestorerRestaurants" asp-route-restorerId="@Model.Id" >Consulter la liste de vos restaurants</a>
</div>