@model ASP_PROJECT.Models.POCO.Restorer

<div>
    <table class="table">
        <tr>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Email</th>
            <th>Genre</th>
            <th>Adresse</th>
            <th>Ville</th>
            <th>Pays</th>
            <th>Code Postal</th>
            <th>Téléphone</th>
        </tr>
        <tr>
            <td>
                <p>@Model.Firstname</p>
            </td>
            <td>
                <p>@Model.Lastname</p>
            </td>
            <td>
                <p>@Model.Email</p>
            </td>
            <td>
                <p>@Model.Gender</p>
            </td>
            <td>
                <p>@Model.Address</p>
            </td>
            <td>
                <p>@Model.City</p>
            </td>
            <td>
                <p>@Model.Country</p>
            </td>
            <td>
                <p>@Model.Pc</p>
            </td>
            <td>
                <p>@Model.Tel</p>
            </td>
        </tr>
    </table>
</div>