@model ASP_PROJECT.Models.POCO.Dish

<tr>
    <td>@Model.Name</td>
    <td>@Model.Description</td>
    <td>@Model.ConvertDishType()</td>
    <td>@Model.ConvertTypeService()</td>
    <td>@Model.Price €</td>
    <td>
        @*<input type="button" value="Modifier" asp-action="ModifyDish"/>*@
        <a asp-controller="Menu" asp-action="ModifyDish">Modifier</a>
    </td>
    <td>
        <input type="button" value="Supprimer" />
    </td>
</tr>